<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">

            <button id="plus" value="plus" @click="mark=plus" >+</button>
 
            <button id="minus" value="minus" @click="mark=minus">-</button>

            <button id="mul" value="mul" @click="mark=mul">*</button>

            <button id="division" value="division" @click="mark=division">/</button>

            <br>

        <input type="number" v-model="number1">
        <span>{{ mark }}</span>
        <input type="number" v-model="number2"> 
        =
        <template v-if="mark==plus">
            {{ addPlus }}
        </template>

        <template v-if="mark==minus">
            {{ addMinus }}
        </template>

        <template v-if="mark==mul">
            {{ addMul }}
        </template>

        <template v-if="mark==division">
            {{ addDivision }}
        </template>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                number1: 0 ,
                number2: 0,
                result:0,
                mark: ''
            },
            computed: {
                addPlus : function() {
                    return parseInt(this.number1)+parseInt(this.number2);
                },
                addMinus : function() {
                    return parseInt(this.number1)-parseInt(this.number2);
                },
                addMul : function() {
                    return parseInt(this.number1)*parseInt(this.number2);
                },
                addDivision : function() {
                    return parseInt(this.number1)/parseInt(this.number2);
                },
                plus : function() {
                    return this.mark='+';
                },
                minus : function() {
                    return this.mark='-';
                },
                mul : function() {
                    return this.mark='*';
                },
                division : function() {
                    return this.mark='/';
                }
            },

        })
    </script>
    
</body>
</html>